
body {
	margin-top: 50px;
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: rgb(48, 48, 48);
}

code {
	font-family: monospace;
}

.copyright {
	text-align: center;
	width: 100%;
	font-size: 80%;
	padding: 0px 0px 20px 0px;
}

.copyright > hr {
	margin: 0px 0px 0px 0px;
}

section > h3 {
	padding-top: 10px;
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
}

section > h4 {
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
}

section > hr {
	margin: 0px 0px 10px 0px;
}

.source {
	text-align: center;
	text-transform: uppercase;
	color: #373335;
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
}

.git {
	text-align: center;
	text-transform: uppercase;
	color: #008e00;
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
}

contactcard > name > sup {
    vertical-align: super;
    font-size: 0.9rem;
		color: #444;
}

contactcard > name {
	display: block;
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
	color: #3c78d8;
	font-size: 2.5em;
	padding-bottom: 14px;
}

contactcard > .contactimage {
	width: 100%;
	height: auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display: block;
	margin: 0px auto 2em auto;
}

line {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 1em 0;
}

line > .thick {
	height : 1px;
	border-top: 3px solid #ccc;
}

contactcard > info {
	display: block;
	height: 24px;
	padding-top:2px;
}
contactcard > info > i {
	float:left;
	margin-right: 5px;
	color: #3d4e62;
}

contactcard > info > img {
	width:21px;
	float:left;
	margin-right: 5px;
}


a {
	text-decoration: none;
	background-color: #eaeaea;
}

a > .important {
	background-color: white;
	color:rgb(194,39,39);
}

a:visited {
	color: inherit;
}

a:hover, a:focus {
	color: #3c78d8;
}

header > h1, section > h1 {
	font-family: "Oswald", "Georgia", "Times New Roman", serif;
	color: #3c78d8;
}

header > h1 {
	font-size: 350%;
	margin-bottom: 20px;
}

article {
	margin-bottom: 20px;
}

article > header > h1 {
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 112%;
	font-weight: bold;
	line-height: 150%;
	margin-bottom: 0;
	color: inherit;
}

article > header > span + span {
	margin-left: 2px;
}

article > header > span + span::before {
	content: '@';
	margin-right: 4px;
}

article > header > span {
	color: rgb(168, 168, 168);
	font-size: 100%;
}

article > header > span a {
	color: inherit;
}

article > header address {
	display: inline;
}

article > header address + time {
	margin-left: 6px;
}

article > header address + time::before {
	content: '—';
	margin-right: 6px;
}

em {
	font-style: normal;
	font-weight: bold;
	color: rgb(100, 100, 100);
	margin-right: 6px;
}

@media print {
	@page {
		margin: 15mm;
	}

	body {
		font-size: 14pt;
		line-height: 21pt;
	}

	.container > contactcard {
		font-size: 80%;
		line-height: 160%;
	}

	article > header > span {
		font-size: 80%;
		line-height: 80%;
	}
}
