table {
  display: table;
  border: 1px solid #ddd;
	background-color: #fafafa;
	padding: 10px;
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-collapse: unset;
  margin-left: auto;
  margin-right: auto;
}
.table_header {
  font-weight: bold;
}


td {
  padding:8px;
}

table > caption {
  font-weight: bold;
  font-size: 110%;
  padding:6px;
  color: #d85b70;
}

.med_thumb {
  max-width: 100%;
  width:100px;
  border: 1px solid #ddd;
}

.lg_thumb {
  width:256px;
}
