toc {
	display: table;
	border: 1px solid #ddd;
	background-color: #fafafa;
	padding: 10px;
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

toc > hr {
	margin: 6px 0px 6px 0px;
}

toc > h5 {
	width: 100%;
	text-align: center;
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inline-block;
	font-weight: bold;
	color: #d85b70;
}

ol {
	margin: 0px 0px 0px 18px;
}

ol > li > ul > li {
	margin-bottom: 2px;
}

li {
	margin-bottom: 4px;
}

li > a {
	background-color: inherit;
}
